$color-bg-site: #12141b;
$color-bg-card-light: #1e2027;
$color-bg-card-standart: #1a1c23;

$color-font-light: #dcd8d3;
$color-font-dark: #8c8988;
$color-font-orange: #cf7b5a;
$color-font-orange-light: #cf7b5a33;
$color-font-orange-standart: #cf7b5a;
$color-font-orange-dark: #9c573b;
$color-red: #ff2c4733;
$color-gray-dark: #303238;
